input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
tr td,
tr th {
  padding: 0;
}
table tr th {
  text-align: center;
}
.form-item {
  width: 55px;
  margin: 0 auto;
}
